@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h2>The Perfect Girl - Mareux (2021)</h2>
<img class="as" src="~/images/test2.jpg" alt="1">


<div class="content">
    <div class="content__container">
        <p class="content__container__text">
            Music Video - Paying
        </p>



        <p>
            The Perfect Girl · Mareux
            <a href="https://www.youtube.com/watch?v=W5Sq71VTJ9Q" target="_blank">The Perfect Girl - Mareux</a>.
        </p>



        <h3>
            Producer: Mareux <br />
            Lead  Vocals: Mareux <br />
            Writer: Boris Williams <br />
        </h3>


        <button onclick="myFunction()">List</button>

        <div id="myDIV">
            Producer list
        </div>


